*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    height: 500px;
    height: 500px;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 10%/50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    background-color: #070707;
    margin: 50px 0px 50px 0px;
   
}
.info{
    color: whitesmoke;
    font-size: 2em;
    
}
img{
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 15px 5px #FFFFFF; 
    box-shadow: 5px 5px 10px 5px #FFFFFF;
}
img:hover{
    transform: scale(0.9);
}